<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <style>
      #i {
        display: none;
      }

      @media print {
        #i {
          display: block;
        }
      }
      @page {
        size: auto;
        margin: 0mm;
      }
    </style>

    <title>Result</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light fixed-top bg-light">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand">RESULT MANAGEMENT</p>
          </div>
          <ul class="navbar-nav">
            <li id="home" class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <br />
    <br />
    <br />
    <div id="i">
      <img src="/assets/college_logo.png" class="img-fluid" alt="..." />
    </div>

    <section style="margin-top: 30px">
      <div class="container">
        <p class="text-sm-start">Name : <%= studentName %></p>
        <p class="text-xl-start">
          Enrolment Number: <span id="enrolment_no"><%= enrolment_no %></span>
        </p>
        <p class="text-xl-start">
          Semester: <span id="sem"><%= studentSem %></span>
        </p>
        <p class="text-xl-start">
          Branch : <span id="branch"><%= studentBranch %></span>
        </p>
      </div>
      <br />
      <div class="container">
        <p
          class="text-xl-start"
          style="display: inline-block; margin-right: 16px"
        >
          Select Semester
        </p>
        <div class="btn-group" id="dropdown-sem">
          <button
            type="button"
            class="btn btn-dark dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            id="dropdown-button"
          >
            Sem - <%= studentSem %>
          </button>
        </div>
      </div>
      <div class="container">
        <button
          type="button"
          class="btn btn-outline-dark d-print-none"
          style="margin-left: 130px; margin-top: 10px"
          id="searchResult"
        >
          Search
        </button>
      </div>
      <br />
      <div class="container" id="table-container">
        <p id="initial" style="text-align: center; color: rgb(181, 181, 182)">
          ---Enter Search Criteria and hit button.----
        </p>
        <button
          id="print-button"
          type="button"
          class="btn btn-outline-dark d-print-none"
          onclick="window.print()"
          style="margin: 15px 0 20px; display: none"
        >
          Print Result
        </button>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="/js/studentResult.js"></script>
  </body>
</html>
